.gris{
	background:#DBDBDB;
}

.menu-superior{
	list-style:none;
	padding:0px;
	margin:0px;
}

.menu-superior li{
	margin:2px;
    padding:0px;
    float:left;
}

.menu-superior li a{
	display:block;
    padding:5px;
    height:20px;
	font-size:12px;
    text-decoration:none;
    text-align:center;
    color:#002972;
}

.menu-superior li a:hover{
	color:#001e4f;
}
