/*Estilos para el Footer*/
.divBarra{
	background:#002972;
	height:20px;
}

footer h4{
	color:#002972;
}

.divLogos{
	background:#DEDEDE;
	padding:15px;
}

.divLogos img{
	float:left;
}

.divLogos img{
	margin:0 auto;
}

.img-align{
	float:left;
}
/*Fin del footer*/

