/* Seccion de Estudiantes */
p {
    text-align:justify;
}

.divTitulo{
	
	color:#FFF;
	background:#F0A53B;
}

.divTitulo2{
	
	color:#FFF;
	background:#39A94A;
}

.divTitulo3{
	
	color:#FFF;
	background:#BA3E3E;
}

.subTitulo {
    font-size:20px;
    font-weight:bold;
    line-height:20px;
}

/*Estilos para los titulos principales con colores*/
.divFranCont {
    padding:0px;
}

.franja-1{
    position:relative;
    float:left;
    background:#FFA840;
    width:30%;
    padding-bottom:9px;
}

.franja-2{
    position:relative;
    float:left;
    background:#FFC524;
    width:10%;
    padding-bottom:9px;
}

.franja-3{
    position:relative;
    float:left;
    background:#FFD815;
    width:60%;
    padding-bottom:9px;
}

/*estilos para el boton cerrar*/
.divCerrar{
    background:#B6272D;
    color:#ffffff;
    padding-bottom:9px;
}

/*Estilos para el boton correo*/
.divCorreo {
    background:#002972;
    font-size:20px;
    font-weight:bold;
    line-height:20px;
    color:#FFF;
    padding-bottom:9px;
}

.divCorreo img{
    float:left;
    margin-top:30px;
}

.divLateral {
    background:#F2F2F2;
}

/*Boton para el instructivo*/
.btnInstruc{
    background:#002972;
}

    .btnInstruc a {
        color:#FFF;
    }
        .btnInstruc a:hover {
            text-decoration:none;
            color:#FFA840;
        }

/*Estilos para aplicar a los formularios*/
.btnAceptar{
    background:#39a94a;
    border:none;
    color:#FFF;
    font-size:20px;
    padding:20px 30px 20px 30px;
}

.btnAceptar:hover {
    color:#FFA840;
}

.frmCampos {
    border:1px solid #C6C6C6;
    padding:5px;
    width: 302px;
}

/* Estilos para las franjas del docente */
.franjaD-1{
    position:relative;
    float:left;
    background:#3FB94E;
    width:30%;
    padding-bottom:9px;
}

.franjaD-2{
    position:relative;
    float:left;
    background:#4ED054;
    width:10%;
    padding-bottom:9px;
}

.franjaD-3{
    position:relative;
    float:left;
    background:#50DC5A;
    width:60%;
    padding-bottom:9px;
}

/* Estilos para el menu inferior docente */
.menu-alterno{
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu-alterno > li{
    float:left;
    border-bottom: 2px solid transparent;
    text-align: left;
    -moz-transition: all 300ms ease-in-out 0s;
    -ms-transition: all 300ms ease-in-out 0s;
    -o-transition: all 300ms ease-in-out 0s;
    -webkit-transition: all 300ms ease-in-out 0s;
    transition: all 300ms ease-in-out 0s;
}

    .menu-alterno li a {
        display: block;
        text-decoration: none;
        -moz-transition: color 450ms ease-in-out 0s, background-color 450ms ease-in-out 0s;
        -ms-transition: color 450ms ease-in-out 0s, background-color 450ms ease-in-out 0s;
        -o-transition: color 450ms ease-in-out 0s, background-color 450ms ease-in-out 0s;
        -webkit-transition: color 450ms ease-in-out 0s, background-color 450ms ease-in-out 0s;
        transition: color 450ms ease-in-out 0s, background-color 450ms ease-in-out 0s;
        white-space: normal;
    }

    .menu-alterno > li > a{
        color: #4D4D4D;
        display: block;
	    font-size:14px;
        line-height: 20px;
        padding: 5px 20px;
	    background-color: #FFF;
    }

    .menu-alterno > li:hover > a, .menu-alterno > a:hover {
        background-color: #39A94A;
        color: #FFFFFF;
    }
    .menu-alterno li.active > a {
        background-color: #0071B5;
        color: #FFFFFF;
    }

/* Estilos para las franjas del Empleado */
.franjaE-1{
    position:relative;
    float:left;
    background:#D84A4A;
    width:30%;
    padding-bottom:9px;
}

.franjaE-2{
    position:relative;
    float:left;
    background:#AF3E3E;
    width:10%;
    padding-bottom:9px;
}

.franjaE-3{
    position:relative;
    float:left;
    background:#FF5A5A;
    width:60%;
    padding-bottom:9px;
}